<a href="https://colab.research.google.com/github/diegogonzalezc/compiled_inventory/blob/main/Cuantificacion_invenarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
!pip install openpyxl

#CORRER ANTES DE EMPEZAR PASO 1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [ ]:
# Acceso al sistema de archivos
from google.colab import drive
drive.mount('/content/drive')
%cd '/content/drive/MyDrive/Colab Notebooks'
#CORRER ANTES DE EMPEZAR, SE ABRE UNA PANTALLA EMERGENTE Y SE DA PERMITIR

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/Colab Notebooks

In [ ]:
archivo_inventarios='Valorización de inventarios 2022-06.xlsx'
#Acá se debe copiar y pegar el nombre del archivo qeu contiene toda la informacion entre comillas ''

In [ ]:
resumen_inventario='resumen_inventario_2022-06.xlsx' 
detalle_inventario='detalle_inventario_2022-06.xlsx'

#Cambiar nombre, al nombre para guardar.

# depués de hacer los pasos anteriores entrono de ejecución - ejecutar todo

In [ ]:
excel=pd.ExcelFile(archivo_inventarios) # se crea una lista con los nombres de todas las hojas
hojas_excel=excel.sheet_names
hojas_excel

['Sheet1',
 'balance',
 'almacen1',
 'PISOS ALPHA1',
 'LIVIN HAUS1',
 'SANTA ANA1',
 'HADA MTO ANUAL1',
 'OFICINA',
 'P15 CALIMA BTA1',
 'P16-2021 SN BERNARDO1',
 'HOSP STA SOFIA',
 'P042 TORRES GUARIN',
 'P019 U CALDAS 7A1',
 'HECTOR FABIO TABLAZO1',
 'TINY HOUSE1',
 'K TRONIX1',
 'ROGELIO SALMONA B',
 '0-032-2021 PEOPLE CONTACT SIES',
 'ANIBAL FRANCO',
 'P060-2021 U DE CALDAS1',
 'P057-2021 ERT YUMBO1',
 'GTI BTA AUDIFARMA1',
 'P056-2021 VHZ ETAPA 2',
 'TDCX BOGOTA ',
 'P042-2021COMTADATAGROUP INCEN',
 'P020-SES HOSPITAL DE CALDAS',
 'P034-2021 PEOPLE CONTACT MANIZ',
 'P059-2022 EFIGAS ARMENIA',
 'P053-2022 COMDATA SERVICIOS BTA',
 'P056 CELAR',
 'P055-MEMAZ POLICIA NACIONAL',
 'Manisol']

In [ ]:
base_datos = pd.read_excel(archivo_inventarios,sheet_name='Sheet1',header=7,skipfooter=1) # se crea el dataframe de base de datos de todos los datos de todas las bodegas
base_datos.dropna(subset=['Grupo inventario'],inplace=True) #se eliminan los valoras innecesarios
pd.set_option('display.float_format', lambda x: f'{x:,.3f}') # se cambia el formato para que muestre los numeros en millones
base_datos['Valor unitario']=base_datos['Valor total']/base_datos['Saldo cantidades']# creación de los valores unitarios
base_datos.set_index('Código producto',inplace=True)
base_datos

,Nombre producto,Referencia fábrica,Grupo inventario,Saldo cantidades,Valor total,Valor unitario
Código producto,,,,,,
3001,CAMARA IP PANASONIC 15BL-C14,NaN,EQUIPOS DE COMPUTO,1.000,"175,000.000","175,000.000"
3002,CAMARA PANASONIC WV NM100,NaN,EQUIPOS DE COMPUTO,1.000,"860,000.000","860,000.000"
3004,CAMARA TIPO BALA EXTERIOR,NaN,EQUIPOS DE COMPUTO,1.000,"689,457.000","689,457.000"
3005,CAMARA TIPO DOMO,NaN,EQUIPOS DE COMPUTO,5.000,"812,679.530","162,535.906"
3007,CITOFONO SPRINT BT334202,NaN,EQUIPOS DE COMPUTO,12.000,"686,089.000","57,174.083"
...,...,...,...,...,...,...
9045,TUBULAR 1 X 1/2 ADAPTADOR NEGRO,NaN,ACCESORIOS Y DIVISIONES,401.000,"50,627,854.000","126,254.000"
9046,TUBULAR 1 1/2 X 1 1/2 CON ADAPTADPR,NaN,ACCESORIOS Y DIVISIONES,150.000,"19,500,750.000","130,005.000"
9047,ANGULO 1 1/2 X 3/16 CRUDO,NaN,ACCESORIOS Y DIVISIONES,165.000,"27,639,150.000","167,510.000"
9048,TUBULAR 3 X 1 1/2 PESADO NEGRO,NaN,ACCESORIOS Y DIVISIONES,290.000,"39,150,000.000","135,000.000"
9049,PISAVIDRIO 3831 P/NEGRO,NaN,ACCESORIOS Y DIVISIONES,450.000,"15,067,350.000","33,483.000"

In [ ]:
base_datos_comp=base_datos[['Valor unitario','Grupo inventario']] # se crea una base de datos solo con lo que me interesa comparar
base_datos_comp

                 Valor unitario         Grupo inventario
Código producto
3001                175,000.000       EQUIPOS DE COMPUTO
3002                860,000.000       EQUIPOS DE COMPUTO
3004                689,457.000       EQUIPOS DE COMPUTO
3005                162,535.906       EQUIPOS DE COMPUTO
3007                 57,174.083       EQUIPOS DE COMPUTO
...                         ...                      ...
9045                126,254.000  ACCESORIOS Y DIVISIONES
9046                130,005.000  ACCESORIOS Y DIVISIONES
9047                167,510.000  ACCESORIOS Y DIVISIONES
9048                135,000.000  ACCESORIOS Y DIVISIONES
9049                 33,483.000  ACCESORIOS Y DIVISIONES

[741 rows x 2 columns]

In [ ]:
print(hojas_excel)

['Sheet1', 'balance', 'almacen1', 'PISOS ALPHA1', 'LIVIN HAUS1', 'SANTA ANA1', 'HADA MTO ANUAL1', 'OFICINA', 'P15 CALIMA BTA1', 'P16-2021 SN BERNARDO1', 'HOSP STA SOFIA', 'P042 TORRES GUARIN', 'P019 U CALDAS 7A1', 'HECTOR FABIO TABLAZO1', 'TINY HOUSE1', 'K TRONIX1', 'ROGELIO SALMONA B', '0-032-2021 PEOPLE CONTACT SIES', 'ANIBAL FRANCO', 'P060-2021 U DE CALDAS1', 'P057-2021 ERT YUMBO1', 'GTI BTA AUDIFARMA1', 'P056-2021 VHZ ETAPA 2', 'TDCX BOGOTA ', 'P042-2021COMTADATAGROUP INCEN', 'P020-SES HOSPITAL DE CALDAS', 'P034-2021 PEOPLE CONTACT MANIZ', 'P059-2022 EFIGAS ARMENIA', 'P053-2022 COMDATA SERVICIOS BTA', 'P056 CELAR', 'P055-MEMAZ POLICIA NACIONAL', 'Manisol']

In [ ]:
hojas_excel
hojas_excel = [e for e in hojas_excel if e not in ('Sheet1','balance')] # se eliminan sheet 1 y balance de las hojas para no ser analizadas

df_list=[]
count=0
for i in hojas_excel:# este for loop genera un dataframe por cada una de las hojas que hay en el archivo
  i = pd.read_excel(archivo_inventarios,sheet_name=i,header=7,skipfooter=1)
  i.dropna(subset=['Nombre producto'],inplace=True)
  i.pop('Referencia de fábrica')
  i.set_index('Código producto',inplace=True)
  i=pd.merge(i,base_datos_comp,left_index=True, right_index=True)
  i['Valor total']=i['Saldo cantidades']*i['Valor unitario']
  i['Bodega']=hojas_excel[count]
  count+=1
  df_list.append(i)

In [ ]:
count1=0
for i in df_list:
  if count1 ==0:
    base_datos_bodegas=i
  else:
    base_datos_bodegas=pd.concat([base_datos_bodegas, i])
  count1+=1

In [ ]:
base_datos_bodegas

,Nombre producto,Saldo cantidades,Valor unitario,Grupo inventario,Valor total,Bodega
Código producto,,,,,,
1001,BATERIA CSB 17AH-12VDC,2.000,"81,150.500",BATERIAS UPS Y EQ ELECTRICOS,"162,301.000",almacen1
1002,BATERIA CSB 12VDC-5AH,10.000,"53,483.517",BATERIAS UPS Y EQ ELECTRICOS,"534,835.167",almacen1
1003,BATERIA CSB 12VDC-7AH,8.000,"58,816.389",BATERIAS UPS Y EQ ELECTRICOS,"470,531.112",almacen1
1004,BATERIA 6VDC-4AH,8.000,"15,618.200",BATERIAS UPS Y EQ ELECTRICOS,"124,945.600",almacen1
1005,BATERIA FULL BATERY 12VDC-7AH,1.000,"37,297.077",BATERIAS UPS Y EQ ELECTRICOS,"37,297.077",almacen1
...,...,...,...,...,...,...
5628,SEGUETA,2.000,"3,137.641",REDES Y CABLEADO,"6,275.283",Manisol
5655,ABRAZADERA RIEL UNISTRUT DE 1 PULG,50.000,"1,309.900",REDES Y CABLEADO,"65,495.000",Manisol
5712,VARILLA ZINC 3/8 X 3 METROS,2.000,"10,863.976",REDES Y CABLEADO,"21,727.953",Manisol
5727,CAJA DE PASO PVC 15*15*7,4.000,"13,097.143",REDES Y CABLEADO,"52,388.573",Manisol
5829,BROCA,3.000,"4,148.308",REDES Y CABLEADO,"12,444.923",Manisol

In [ ]:
Total = base_datos_bodegas['Valor total'].sum()
Total

2884264525.9257402

In [ ]:
resumen=base_datos_bodegas.groupby('Bodega').agg({'Saldo cantidades':'sum','Valor total':'sum'})

resumen

                                 Saldo cantidades       Valor total
Bodega
0-032-2021 PEOPLE CONTACT SIES              1.000     4,230,541.091
GTI BTA AUDIFARMA1                     16,372.000    49,089,349.395
HADA MTO ANUAL1                             1.000        16,386.500
HECTOR FABIO TABLAZO1                   2,463.000     7,183,334.085
K TRONIX1                                  12.000     3,400,000.000
LIVIN HAUS1                            54,200.000   157,991,904.655
Manisol                                 2,588.000    17,523,378.944
OFICINA                                    14.000     6,068,466.084
P019 U CALDAS 7A1                     155,236.500   877,172,178.237
P020-SES HOSPITAL DE CALDAS                 1.000       248,974.107
P034-2021 PEOPLE CONTACT MANIZ            449.000    26,415,703.193
P042-2021COMTADATAGROUP INCEN              74.000     1,017,414.381
P053-2022 COMDATA SERVICIOS BTA         2,859.000    15,622,108.429
P055-MEMAZ POLICIA NACIONAL                16.000    19,245,883.000
P056 CELAR                                113.000       305,561.437
P056-2021 VHZ ETAPA 2                   5,914.000    32,373,072.461
P057-2021 ERT YUMBO1                   75,980.000 1,423,210,833.413
P059-2022 EFIGAS ARMENIA                1,791.000     9,363,243.943
P15 CALIMA BTA1                            15.000    12,495,963.518
P16-2021 SN BERNARDO1                   2,766.500    22,508,111.331
PISOS ALPHA1                                4.000        15,837.227
SANTA ANA1                                  4.000        44,337.302
TDCX BOGOTA                                12.000     9,376,176.667
TINY HOUSE1                               340.000       494,607.290
almacen1                               16,565.000   188,851,159.236

In [ ]:
Total = resumen['Valor total'].sum()
Total

2884264525.9257402

In [ ]:
resumen_cantidades=base_datos_bodegas.groupby('Nombre producto').agg({'Saldo cantidades':'sum','Valor total':'sum'})
resumen_cantidades

                                            Saldo cantidades   Valor total
Nombre producto
ABRAZADERA  DE 2 PULGADAS                            378.000   534,484.980
ABRAZADERA 3/4                                     2,334.000   645,150.790
ABRAZADERA COLGANTE TIPO PERA DE 1 1/2                69.000    84,800.000
ABRAZADERA COLGANTE TIPO PERA DE 1 PULGADA            10.000    12,610.000
ABRAZADERA DE 1 1/2                                  171.000   107,606.300
...                                                      ...           ...
VELCRO SIEMON PAQUETE 250 UND                          9.000 2,569,895.000
VENTILADOR CON FILTRO                                  2.000   330,176.000
VENTILADOR PARA GABINETE DE PARED                      1.000    38,194.500
VIDEO BALUM                                            7.000    47,247.560
VIDEOPORTERO ANALOGO 7 PULGADAS                        1.000   323,304.000

[730 rows x 2 columns]

In [ ]:
%pwd

'/content/drive/MyDrive/Colab Notebooks'

In [ ]:
path_resumen='/content/drive/MyDrive/Colab Notebooks/'+resumen_inventario
path_detalle='/content/drive/MyDrive/Colab Notebooks/'+detalle_inventario
resumen.to_excel (path_resumen, index = True, header=True)
base_datos_bodegas.to_excel (path_detalle, index = True, header=True)